body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6,a {margin: 0 auto;}
a {
    text-decoration: none;
    color: #434455;
    margin: 0;    
}
.container { 
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}
/*-----------same color----------start*/
.header-logo,
.header-list-item,
.excellence-list-item-subtitle,
.team-title,
.team-subtitle,
.portfolio-title,
.portfolio-list-item-subtitle {color: #2e2f42;}
/*-----------f4f4fd------------*/
.footer-logo,
.footer-text {color: #f4f4fd;}
/*-----------same color----------end*/
/*-----------header----------start*/
.header-logo-color {color: #2e2f42 ;}
.header-logo {
    font-family: "Raleway", sans-serif;
    ;
    font-size: 18px;
    
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 24px 76px 24px auto;
}
.header-nav {
    display: flex;
    align-items: center;
   
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-list-item {
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 500;
font-size: 16px;
}
.header-contacts-list-item-link {color:#2e2f42;}
.header-contacts-list-item-link:hover{color:#404bbf;}
.header-contacts-list-item-link:focus{color: #404bbf;}
.header-contacts-list-item {

font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;

}
.header-contacts{font-style: normal;
margin-left: auto;}
.header-linc:hover { color: #404bbf; }
.header-linc:focus { color: #404bbf; }
/*-----------header----------end*/
/*-----------border-start-------*/
.border {
    background-color: #2e2f42;
    
    margin-bottom: 120px;
}

.border-title {
    line-height: 1.07;
    color: white;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 188px;
    max-width: 512px;
    margin: auto;
    padding-bottom:48px;
    
}

.border-button {
 
    background-color: #4d5ae5;
    color: white;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: block;
    padding: 16px 32px;margin: 0 auto;
    border: none;
    ;
}
.border-button:hover {
    background-color: #404BBF
}
.border-button:focus {
    background-color: #404BBF
}
.buttom-div-border{padding-bottom: 188px;
margin-bottom: 306px;}
/*-----------border-end----------*/
/*-----------excellence----------start*/
.excellence-title {

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.excellence-list {
    
    display: flex;
    gap: 24px;
 
}
.excellence-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
  
}

.excellence-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 120px;
}

/*-----------excellence----------end*/
/*-----------team-------------start*/
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
 padding-bottom: 120px;
 margin-bottom: 240px;
 
}


.team {
    background-color: #f4f4fd;
    
}
.team-list-item {
  
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-bottom-left-radius: 2% ; border-bottom-right-radius: 2% ;
}

.team-title{
padding-top: 120px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
font-weight: 700;
font-size: 36px;
text-transform: capitalize;
padding-bottom: 72px;
}
.team-photo{margin-bottom: 32px;}
.team-subtitle{
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
font-weight: 500;
font-size: 20px;
margin-bottom: 8px;
margin-top: 0;
}
.team-text{
margin: 0;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
font-weight: 400;
font-size: 16px;
padding-bottom: 32px;
}


/*-----------team-------------end*/
/*-----------portfolio----------start*/
.portfolio-list {background-color: #FFFFFF;
display: flex;
flex-wrap: wrap;
gap: 24px;
padding-bottom: 120px;
}
.portfolio-title {
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;

font-weight: 700;
font-size: 36px;  
text-transform: capitalize;   
padding-bottom: 72px; 
}
.portfolio-list-item-subtitle{
line-height: 1.2;
letter-spacing: 0.02em;

font-weight: 500;
font-size: 20px; 
padding-bottom: 8px;   
}
.portfolio-list-item-image{padding-bottom: 32px;}
.portfolio-list-item-text {
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 400;
font-size: 16px;    
padding-bottom: 32px;
}
.portfolio-border{border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;}

/*-----------portfolio----------end*/
/*------------footer-----------start*/
.footer {background: #2e2f42;

padding: 100px;}
.footer-logo {
margin-bottom: 16px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

font-weight: 700;
font-size: 18px;
font-family: "Raleway", sans-serif;
color:  #4d5ae5;
}
.footer-text {
   
line-height: 1.5;
letter-spacing: 0.02em;

font-weight: 400;
font-size: 16px;}
.white-logo{color: #f4f4fd;
}
.footer-text-container{
 max-width: 264px; 
   }
/*------------footer-----------end*/
